@model Company.Models.Project
@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = "_Layout";
}
<form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    <input name="original.ProjectID" value="@Model?.ProjectID" type="hidden" />
    <input name="original.ProjectName" value="@Model?.ProjectName" type="hidden"/>
    <input name="original.Description" value="@Model?.Description" type="hidden"/>
    <input name="original.DateOfAdoption" value="@Model?.DateOfAdoption" type="hidden"/>
    <input name="orginal.Deadline" value="@Model?.Deadline" type="hidden"/> 
    <input name="orginal.Budjet" value="@Model?.Budjet" type="hidden"/> 
     
    <div class="form-group">
        <label asp-for="ProjectName"></label>
        <input asp-for="ProjectName" class="form-control" />
    </div>    
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateOfAdoption"></label>
        <input asp-for="DateOfAdoption" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Budjet"></label>
        <input asp-for="Budjet" class="form-control" />
    </div>    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>  
</form>