@page
@using exercise.Models
@model exercise.Models.Thing

<p>Введите число для разбиения на множители</p>
<form method="POST" action="/primefactory">
    <input name="inner" value=1 />
    <input type="submit" />
</form>
@if (Model != null)
{
    <h2>Submitted Thing</h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>Множители числа</dt>
            <dd>@Model.exit</dd>            
        </dl>
    </div>
}

<div class="row">      
   <img src="~/images/MyImage.png" class="img" alt="My image"/>
</div>
<div class="row"